@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto:wght@300&display=swap');

body {font-family: 'Roboto', sans-serif;}
code {font-family: 'Roboto Mono', monospace;}

p > a:hover {
    color: royalblue;
}

td > a:hover{
    color:palevioletred;
}

 li > a:hover{
    color: orangered;
}
